@desktop:   ~"only screen and (min-width: 540px) and (max-width: 1199px)";
@mobile:    ~"only screen and (max-width: 540px)";

@bg-contrast: #ff9a5c;
@bg-dark: #5a5a5a;
@bg-light: #f2f2f2;
@border-color: #aaa;
@font-color: #3f3f3f;
@secondary-text: #999;
@font-family: Roboto, arial, sans-serif;

html, body {
	-webkit-tap-highlight-color: transparent;
	height: 100%;
	margin: 0;
	font-family: @font-family;
	padding: 0;
	font-size: 14px;
	color: @font-color;
}

input[type=text] {

	font-family: @font-family;
	font-size: 14px;
	color: @font-color;
	-webkit-appearance: none;
	border-radius: 0;
	border: 1px solid @border-color;
	box-sizing: border-box;
	padding: 5px;

	&:active,
	&:focus {
		border: 1px solid @bg-contrast;
		outline: 0;
	}
}

button {
	-webkit-appearance: none;
	border: 1px solid @border-color;
	border-radius: 3px;
	font-family: @font-family;
	font-size: 14px;
	color: @secondary-text;
	background: #f5f5f5;
	&:focus {
		outline: none;
	}
	&:active {
		padding-top: 3px;
		padding-bottom: 2px;
	}
}

.secondary-text {
	color: @secondary-text;
}

.call-to-action:hover {
	text-decoration: underline;
}

.right { float: right}
.left { float: left}
.mr { margin-right: 5px; }
.ml { margin-left: 5px; }

.app {
	position: absolute;
	width: 100%;
	bottom: 0;
	top: 0;
	box-sizing: border-box;
}

.songs-list {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 63px;
	overflow: scroll;
	&::-webkit-scrollbar {
		display: none;
	}
	&__head {
		padding: 10px 20px;
	}
	&__list {
		background: #e5e5e5;
		bottom: 0;
	}
}
.song-item {
	cursor: pointer;
	color: @font-color;
	padding: 10px 20px;
	border-top: 1px solid #d9d9d9;
	overflow: hidden;
	position: relative;

	&__play {
		margin-right: 10px;
		visibility: hidden;
	}
	&__options {
		margin-top: 14px;
	}
	&__collapse {
		position: absolute;
		right: 0;
		top: 0;
		padding: 10px 20px;
	}

	&:not(.editable):hover {
		background: @bg-light;
	}
	&:not(.editable):hover &__play {
		visibility: visible;
	}


}

.player {
	@size: 26px;
	@padding: 2px;

	position: absolute;
	box-sizing: border-box;
	padding: 0 10px;
	width: 100%;
	bottom: 0;

	&__footer {
		margin-top: 3px;
		padding-bottom: 10px;
	}
	&__controls {
		float: left;
		margin-top: 4px;
	}
	&__controls .progress {
		display: inline-block;
		margin: 6px;
		width: 100px;
	}

	&__tempo {
		line-height: @size;
		margin-left: 10px;
		vertical-align: top;
	}

	&__stop {
		display: inline-block;
		cursor: pointer;
		width: @size;
		height: @size;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: @padding;
			left: @padding;
			width: @size - @padding*2;
			height: @size - @padding*2;
			background: @bg-dark;
		}
	}

}

.progress {
	height: 3px;
	padding: 5px 0;
	position: relative;

	&__total {
		height: 100%;
		background: #eaeaea;
	}
	&__done {
		background: @bg-contrast;
		margin-top: -3px;
		width: 0;
		height: 100%;
		border-radius: 2px;
	}
	&__cursor {
		height: 12px;
		width: 12px;
		border-radius: 6px;
		background: @bg-contrast;
		margin-top: -7px;
		margin-left: -6px;
		position: absolute;
	}
}

.time {
	position: relative;

	&__point {
		width: 3px;
		height: 15px;
		margin-top: -8px;
		margin-left: -1px;
		position: absolute;
		background: @bg-contrast;
	}

	&__current, &__duration {
		opacity: 0;
		position: absolute;
		top: -1px;
		font-size: 10px;
		padding: 3px 5px;
		border-radius: 4px;
		transition: opacity 0.1s linear;
		&:hover {
			opacity: 0;
		}
	}

	&:hover &__current,
	&:hover &__duration {
		opacity: 1;
		&:hover {
			opacity: 0;
		}
	}

	&__current {
		background: @bg-contrast;
		left: 0;
		color: white;
	}
	&__duration {
		background: #eaeaea;
		right: 0;
		color: #999;
	}
}

.riff {
	& + & {
		margin-top: 5px;
	}
	&__formula {
		vertical-align: top;
		margin-left: 5px;
		width: 30%;
	}
	&__name {
		vertical-align: top;
		padding-left: 5px;
		box-sizing: border-box;
		width: 60%;
		display: inline-block;
		& input {
			width: 100%;
		}
	}
}

.riffs {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	& td {
		height: 25px;
		padding: 3px 6px;
	}
	&__index-title {
		width: 10%;
	}
	&__name-title {
		width: 50%;
	}
	&__time-title {
		width: 15%;
	}
	& input {
		width: 100%;
	}
	&__index {
		min-width: 25px;
		& .icon-play {
			display: none;
		}
	}
	& tr:hover &__index {
		& .icon-play {
			display: block;
		}
		& span {
			display: none;
		}
	}

	& tr:not(:hover) .icon-edit {
		visibility: hidden;
	}

	& tbody tr:hover {
		background: @bg-light;
	}
}

.file-input {
	font-size: 24px;
	cursor: pointer;
	color: @bg-dark;
	& input {
		display: none;
	}
}

.icon {
	@size: 24px;
	@padding: 2px;
	.mixin {
		width: @size;
		height: @size;
		text-align: center;
		display: inline-block;
		cursor: pointer;
		 -webkit-user-select: none;

		&:after {
			font-style: normal;
			font-size: @size;
			color: @font-color;
		}
		&:hover {
			opacity: 0.8;
		}
	}

	&-edit {
		.mixin;
		position: relative;
		&:before {
			content: '';
			display: inline-block;
			width: @size / 4;
			height: @size * 0.75;
			background: @bg-dark;
			position: absolute;
			transform: rotate(45deg);
		}
		&:after {
			@width: 5px;
			content: '';
			border-top: @width solid transparent;
			border-left: @width solid @bg-dark;
			width: 0;
			height: 0;
			position: absolute;
			bottom: @width;
			left: @width;
		}
	}
	&-delete {
		.mixin;
		&:after {
			content: "+";
			display: inline-block;
			transform: rotate(45deg);
		}
	}
	&-collapse {
		.mixin;
		width: @size / 3;
		height: @size / 3;
		border: solid @bg-contrast;
		border-width: 3px 0 0 3px;
		transform: rotate(225deg);
		margin-top: -2px;
		transition: all .2s linear;
		&.off {
			transform: rotate(45deg);
		}
	}

	&-play {
		.mixin;
		position: relative;
		width: 0;
		height: 0;

		border-left: @size*.86 solid @bg-dark;
		border-top: @size*.5 solid transparent;
		border-bottom: @size*.5 solid transparent;

		&.small {
			@small: @size * .6;
			border-width: @small*.5 0 @small*.5 @small*.86;
		}
	}

	&-pause {
		.mixin;
		position: relative;
		width: @size * 5 / 6;
		height: @size;
		&:before {
			content: '';
			position: absolute;
			left: @size/6;
			width: @size/6;
			top: @padding;
			bottom: @padding;
			background: @bg-dark;
		}
		&:after {
			content: '';
			position: absolute;
			right: @size/6;
			width: @size/6;
			top: @padding;
			bottom: @padding;
			background: @bg-dark;
		}
	}

	&-save {
		.mixin;
		&:after {
			content: '';
			display: block;
			width: @size / 3;
			height: @size / 3 * 2;
			border: solid @bg-contrast;
			border-width: 0 3px 3px 0;
			margin-left: 4px;
			transform: rotate(45deg);
		}
	}

}
