@font-face {
  font-family: 'Open Sans Light';
  src: url('fonts/OpenSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url('fonts/OpenSans-Semibold.ttf');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  margin: 0;
  font-family: Open Sans Light;
  padding: 0;
  font-size: 14px;
  color: #a5a5a5;
}
body {
  display: flex;
  justify-content: center;
}
input[type=text] {
  font-family: Open Sans Light;
  font-size: 14px;
  color: #a5a5a5;
  -webkit-appearance: none;
  border-radius: 0;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  padding: 5px;
}
input[type=text]:active,
input[type=text]:focus {
  border: 1px solid #a7ca3a;
  outline: 0;
}
button {
  -webkit-appearance: none;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  font-family: Open Sans Light;
  font-size: 14px;
  color: #999999;
  background: #f5f5f5;
}
button:focus {
  outline: none;
}
button:active {
  padding-top: 3px;
  padding-bottom: 2px;
}
.secondary-text {
  color: #999999;
}
.call-to-action:hover {
  text-decoration: underline;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}
.right {
  float: right;
}
.left {
  float: left;
}
.mr {
  margin-right: 5px;
}
.ml {
  margin-left: 5px;
}
.app {
  position: relative;
  width: 100%;
  max-width: 860px;
  bottom: 0;
  top: 0;
  box-sizing: border-box;
}
.songs-list {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 63px;
  overflow: hidden;
}
.songs-list__scroll {
  width: 100%;
  height: 100%;
  padding: 0 16px 16px 0;
  overflow: scroll;
}
.songs-list::-webkit-scrollbar {
  display: none;
}
.songs-list__center {
  padding: 10px 20px;
}
.song-item {
  cursor: pointer;
  color: #a5a5a5;
  padding: 20px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #eaeaea;
}
.song-item__play {
  margin-right: 15px;
  margin-top: 7px;
  float: left;
  display: block;
}
.song-item__name {
  line-height: 26px;
}
.song-item__options {
  margin-top: 14px;
}
.song-item__collapse {
  float: right;
  padding: 5px;
  width: 90px;
  font-size: 10px;
  text-align: center;
  border-radius: 3px;
  border: 1px dashed #b7b7b7;
}
.song-item:hover,
.song-item.editable {
  background: #f8f8fb;
}
.player {
  position: absolute;
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  bottom: 0;
}
.player__footer {
  margin-top: 3px;
  padding-bottom: 10px;
  display: flex;
}
.player__controls {
  flex: 2;
}
.player__tempo {
  flex: 2;
}
.player__tempo .progress {
  width: 50%;
  margin: 0 20px;
  display: inline-block;
}
.player__file {
  flex: 2;
  text-align: right;
}
.player__controls .progress {
  display: inline-block;
  margin: 6px;
  width: 100px;
}
.player__aatempo {
  line-height: 26px;
  margin-left: 10px;
  vertical-align: top;
}
.player__stop {
  display: inline-block;
  cursor: pointer;
  width: 26px;
  height: 26px;
  position: relative;
}
.player__stop:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  background: #b7b7b7;
}
.progress {
  height: 3px;
  padding: 5px 0;
  position: relative;
}
.progress__total {
  height: 100%;
  background: #eeeeee;
}
.progress__done {
  background: #a7ca3a;
  margin-top: -3px;
  width: 0;
  height: 100%;
  border-radius: 2px;
}
.progress__cursor {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background: #a7ca3a;
  margin-top: -7px;
  margin-left: -6px;
  position: absolute;
}
.time {
  position: relative;
}
.time__point {
  width: 3px;
  height: 15px;
  margin-top: -8px;
  margin-left: -1px;
  position: absolute;
  background: #a7ca3a;
}
.time__current,
.time__duration {
  opacity: 0;
  position: absolute;
  top: -1px;
  font-size: 10px;
  padding: 3px 5px;
  border-radius: 4px;
  transition: opacity 0.1s linear;
}
.time__current:hover,
.time__duration:hover {
  opacity: 0;
}
.time:hover .time__current,
.time:hover .time__duration {
  opacity: 1;
}
.time:hover .time__current:hover,
.time:hover .time__duration:hover {
  opacity: 0;
}
.time__current {
  background: #a7ca3a;
  left: 0;
  color: white;
}
.time__duration {
  background: #eaeaea;
  right: 0;
  color: #999;
}
.riff + .riff {
  margin-top: 5px;
}
.riff__formula {
  vertical-align: top;
  margin-left: 5px;
  width: 30%;
}
.riff__name {
  vertical-align: top;
  padding-left: 5px;
  box-sizing: border-box;
  width: 60%;
  display: inline-block;
}
.riff__name input {
  width: 100%;
}
.riffs {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}
.riffs td {
  height: 41px;
  padding: 0 6px;
  box-sizing: border-box;
  line-height: 0;
}
.riffs__add {
  color: #a7ca3a;
  font-size: 24px;
  font-weight: bold;
}
.riffs__index-title {
  width: 10%;
}
.riffs__name-title {
  width: 50%;
}
.riffs__time-title {
  width: 15%;
}
.riffs input {
  width: 100%;
}
.riffs__index {
  min-width: 25px;
}
.riffs tr:hover .riffs__index span {
  display: none;
}
.riffs tr:not(:hover) .icon-edit,
.riffs tr:not(:hover) .icon-play,
.riffs tr:not(:hover) .icon-delete {
  visibility: hidden;
}
.riffs tbody tr:hover {
  background: #eeeeee;
}
.file-input {
  font-size: 24px;
  cursor: pointer;
  color: #a5a5a5;
  display: inline-block;
}
.file-input:hover {
  color: #111111;
}
.file-input__icon {
  line-height: 1;
  font-size: 36px;
  float: left;
  color: #a7ca3a;
  position: relative;
}
.file-input__icon:after {
  content: '♪';
  font-size: 14px;
  top: 0;
  right: 0;
  position: absolute;
}
.file-input__text {
  float: right;
  margin-left: 4px;
}
.file-input input {
  display: none;
}
.file-input.small {
  font-size: 18px;
}
.file-input.small .file-input__icon {
  font-size: 24px;
}
.file-input.small .file-input__icon:after {
  font-size: 9px;
}
.icon .mixin {
  width: 24px;
  height: 24px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-style: normal;
  -webkit-user-select: none;
}
.icon .mixin:after {
  font-style: normal;
  font-size: 24px;
  color: #a5a5a5;
}
.icon .mixin:hover {
  opacity: 0.8;
}
.icon-edit {
  width: 24px;
  height: 24px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-style: normal;
  -webkit-user-select: none;
  position: relative;
}
.icon-edit:after {
  font-style: normal;
  font-size: 24px;
  color: #a5a5a5;
}
.icon-edit:hover {
  opacity: 0.8;
}
.icon-edit:before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 18px;
  background: #b7b7b7;
  position: absolute;
  transform: rotate(45deg);
}
.icon-edit:after {
  content: '';
  border-top: 5px solid transparent;
  border-left: 5px solid #b7b7b7;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.icon-delete {
  width: 7px;
  display: block;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 10px solid #b7b7b7;
  position: relative;
}
.icon-delete:before {
  content: '';
  bottom: 9px;
  left: -3px;
  right: -3px;
  position: absolute;
  height: 1px;
  background: #b7b7b7;
}
.icon-delete:after {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 1px;
  height: 3px;
  width: 3px;
  border-radius: 1px;
  border: 1px solid #b7b7b7;
}
.icon-collapse {
  width: 24px;
  height: 24px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-style: normal;
  -webkit-user-select: none;
  width: 8px;
  height: 8px;
  border: solid #a7ca3a;
  border-width: 3px 0 0 3px;
  transform: rotate(225deg);
  margin-top: -2px;
  transition: all .2s linear;
}
.icon-collapse:after {
  font-style: normal;
  font-size: 24px;
  color: #a5a5a5;
}
.icon-collapse:hover {
  opacity: 0.8;
}
.icon-collapse.off {
  transform: rotate(45deg);
}
.icon-play {
  width: 24px;
  height: 24px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-style: normal;
  -webkit-user-select: none;
  position: relative;
  width: 0;
  height: 0;
  border-left: 16.8px solid #b7b7b7;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
.icon-play:after {
  font-style: normal;
  font-size: 24px;
  color: #a5a5a5;
}
.icon-play:hover {
  opacity: 0.8;
}
.icon-play.small {
  border-width: 7.2px 0 7.2px 10.08px;
}
.icon-pause {
  width: 24px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-style: normal;
  -webkit-user-select: none;
  position: relative;
  width: 20px;
  height: 24px;
}
.icon-pause:after {
  font-style: normal;
  font-size: 24px;
  color: #a5a5a5;
}
.icon-pause:hover {
  opacity: 0.8;
}
.icon-pause:before {
  content: '';
  position: absolute;
  left: 4px;
  width: 4px;
  top: 2px;
  bottom: 2px;
  background: #b7b7b7;
}
.icon-pause:after {
  content: '';
  position: absolute;
  right: 4px;
  width: 4px;
  top: 2px;
  bottom: 2px;
  background: #b7b7b7;
}
.icon-save {
  width: 24px;
  height: 24px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-style: normal;
  -webkit-user-select: none;
}
.icon-save:after {
  font-style: normal;
  font-size: 24px;
  color: #a5a5a5;
}
.icon-save:hover {
  opacity: 0.8;
}
.icon-save:after {
  content: '';
  display: block;
  width: 8px;
  height: 16px;
  border: solid #a7ca3a;
  border-width: 0 3px 3px 0;
  margin-left: 4px;
  transform: rotate(45deg);
}
